<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="DemoBlaze Test Suite">
    <test name="All Tests">
        <classes>
            <class name="com.demoblaze.tests.HomePageTest"/>
            <class name="com.demoblaze.tests.DemoBlazeTest"/>
            <class name="com.demoblaze.tests.ModalBehaviorTest"/>
        </classes>
    </test>
</suite>